{% extends 'layout.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}
    <h1>Coucou Enfant !</h1>
    <a href="/disconnect"><button type="button" class="btn btn-warning">Se déconnecter</button></a>
{% endblock %}