{% extends 'layout.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}
        <ul>
            <li>{{ name }}</li>
        </ul>
    <a href="/disconnect"><button type="button" class="btn btn-warning">Se déconnecter</button></a>
{% endblock %}