{% extends 'layout.html.twig' %}

{% block title %}Adding an user{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/staff.css">
{% endblock %}

{% block header %}
    {% include "Staff/_staffNavbar.html.twig" %}
{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container">
        <!-- Page Features -->
        <div class="row text-center">
            <div class="col mt-2 mb-5">
                <h1>Add a new student</h1>
            </div>
        </div>
        <div class="row">
            <div class="col mt-2 mb-5">
                {% include 'Staff/_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}