{% extends 'layout.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheet %}

{% endblock %}

{% block body %}
    <<iframe src="assets/sound/music/music.mp3" allow="autoplay" style="display:none" id="iframeAudio"></iframe>
    <div class="container-fluid" id="connectpage">
        <div class="row justify-content-center ">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <br/>
                        <h1><strong>Choisis ton rôle:</strong></h1>
                    <div class="panel-body">
                        <form action="#" method="post">
                            <label for="role">Rôle :</label>
                            <select name="role" id="role">
                                    <option value="1">Enfant</option>
                                    <option value="2">Maman</option>
                            </select>
                            <input type="submit" value="Valider !">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}