{% extends 'layout.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheet %}

{% endblock %}

{% block body %}
    <<iframe src="assets/sound/music/music.mp3" allow="autoplay" style="display:none" id="iframeAudio"></iframe>
    <div class="container-fluid" id="connectpage">
        <div class="row justify-content-center ">
            <div class="col">

                <div class="panel panel-default"><br/>
                    <h1 style="color:orange;font-weight: bold; font-size: 110px; text-align: center;">Wild'Halloween</h1>
                    <h2 style="color:red;font-weight: bold; text-align: center; text-shadow: 3px 3px 4px black; margin-bottom: 40px;">...l'appli mondiale n°1 des collections de Bonbons !...</h2>
                    <div style="background-color: rgba(0, 0, 255, 0); text-align: center;">
                        <p style="font-size: 20px; text-shadow: 3px 3px 5px black;">Tu es parent, connecte toi vite ci-dessous et définis les adresses des maisons à visiter pour Halloween.</p>
                        <p style="font-size: 20px; text-shadow: 3px 3px 5px black;">Chose faîte, déconnecte toi et laisse ton enfant entrer en action pour compléter sa collection de bonbons !</p>
                        <p style="font-size: 20px; text-shadow: 3px 3px 5px black;">Méfie toi des fantômes, sorcières, monstres ou vampires qui hanteront ta quête ...aHaHaH... </p>
                    </div>

                    <h2 style="text-align: center; color:orange; font-size: 35px">A toi de jouer !</h2>
                    <div>
                        <div class="panel-body offset-4">
                            <form action="#" method="post">
                                <label style="font-size: 25px; color:orange; margin-right:10px; text-shadow: 3px 3px 5px black" for="role">Je suis...</label>
                                <select class="btn btn-danger btn-lg" style="font-weight: bold; margin-right:10px;" name="role" id="role">
                                        <option value="1">L'ENFANT</option>
                                        <option value="2">LE PARENT</option>
                                </select>
                                <input class="btn-lg" style="font-weight:bold; color:blueviolet; background-color: orange;" type="submit" value="Valider !">
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}