body, html {
    height: 100%;
    color: white;
}

body {
    /* The image used */
    background-image: url("https://images7.alphacoders.com/322/322616.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#connectpage {
    color: white;
    position: absolute;
    top: 70px;
    margin:auto;
}

.card-header {
    background-color: orange;
}

.card-body {
    background-color: black;
}

.container-fluid {
    background-color: orange;
}

#product {
    box-shadow: 8px 8px 12px #aaa;
}




